/* ========================================================================================
        reset - https://www.digitalocean.com/community/tutorials/css-minimal-css-reset
=========================================================================================== */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  color: var(--black);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

header {
    white-space: nowrap;
}

/*  */
:root {
  --red: #d33a2c;
  --red-hover: #a5382e;
  --red-pale: #ffe7e7;
  --blue: #006fc6;
  --light-blue: #e7f8ff;

  --light-grey: #767676;
  --grey: #5c5a5a;
  --black: #333;

  --card-green: #18a46f;
  --card-green-light: #d6ebe3;
  --card-orange: #f55700;
  --card-orange-light: #eeded6;
  --card-purple: #aa1994;
  --card-purple-light: #f1d8ee;
}

/* ========================================================================================
        header
=========================================================================================== */

.header1 {
  background: var(--red);
}

.nav1-links {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

.nav1-links li {
  color: white;
  margin-right: 0.75em;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0.75em;
  border-radius: 0.5em;
  margin-top: -1em;
}

.nav1-links li:hover {
  background-color: var(--red-hover);
}

.nav1 {
  display: flex;
  padding: 1.75em 0 0 2em;
}

.logo-small {
  display: none;
}

.logo-full {
  min-width: 200px;
}

.more-li {
  background-color: var(--red-hover);
  position: relative;
  display: flex;
  padding-right: 2em !important;
  /* color: white; */
}

.more-li span {
  color: white;
}

.more-icon {
  position: absolute;
  /* top: 0.5em; */
  right: 0.25em;
  width: 30px;
  height: 30px;
}

.search-articles {
  margin-top: -0.25em;
  margin-left: 0.5em;
  position: relative;
}

.search-articles input {
  padding: 0.75em 0 0.75em 2em;
  border-radius: 0.5em;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  width: 300px;
}

.search-icon {
  position: absolute;
  left: 0.75em;
  top: 1em;
}

.nav2 {
  display: flex;
  padding: 0.5em;
  box-shadow: 0 2px 2px -2px gray;
}

.nav2-links {
  display: flex;
  gap: 0.5em;
  margin-left: 2em;
}

.nav2-links li {
  background-color: var(--red-pale);
  border: 1px solid var(--red-pale);
  padding: 1em;
  border-radius: 0.5em;
  color: var(--red);
  font-weight: 700;
  cursor: pointer;
}

.nav2-links li:hover {
  border: 1px solid var(--red);
}

.jump-to-all-articles {
  position: relative;
  border: 1px solid rgb(192, 192, 192);
  font-weight: 700;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.5em;
  margin-left: 0.5em;
}

.jump-to-all-articles span {
  color: var(--red);
}


/* ========================================================================================
        content
=========================================================================================== */

main {

}

.content-top {
    display: flex;
    margin: 0 8em;
}

.content-articles {
    /* background-color: lightgreen; */
    width: 100%;
    min-width: 700px;
    padding-right: 6em;
}

.feature-article {
    margin: 2em 0;
    /* font-weight: 700; */
}

.feature-header {
    display: flex;

}

.feature-img {
    width: 145px;
    height: 145px;
    border: 5px solid var(--red);
    border-radius: 1em;
    margin: 2em 3.5em 3em 2em;
    transform: scale(1.2) rotateZ(calc(11 * -1deg));
}

.feature-img:hover {
    /* transition: transform .2s ease-out; */

}

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 0;
    font-size: 1.2rem;

}

.author-name {
    color: var(--red);
    text-decoration: underline;
    font-weight: 700;
}

.wrote {
    color: var(--light-grey);
    font-style: italic;
    /* text-decoration: none!important; */
}

.header-right h2 {
    font-size: 3rem;
    font-weight: 600;
    cursor: pointer;
}

.feature-info {
    color: var(--light-grey);
}

.posted-in {
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.feature-description {
    /* word-spacing: 0.15rem; */
    line-height: 2.2rem;
    margin: 1em 0;
    font-size: 1.5rem;
    /* font-weight: 900; */
}

.continue {
  font-size: 1.2rem;
  font-weight: 700;
    color: var(--red);
    text-decoration: underline;
    cursor: pointer;
}

.article {
  display: flex;
  flex-direction: row;
  /* background-color: violet; */
  margin-bottom: 2em;
}

.article-right {
  /* background-color: violet; */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
}

.article-img {
  width: 115px;
  height: 115px;
  border: 5px solid var(--red);
  border-radius: 1em;
  margin: 2em;
  transform: scale(1.2) rotateZ(calc(11 * -1deg));
}

.article-info {
  padding: 1em 0;
  font-size: 1.2rem;

}

.article-info span:first-of-type{
  /* margin-bottom: 2em; */
  color: var(--red);
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;

}

.article-info span:nth-child(2) {
  color: var(--light-grey);
  font-style: italic;
  /* font-size: 1.5rem; */

}

.article-info span:nth-child(3) {
  color: var(--grey);
  /* font-style: italic; */
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.article-title h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

/* ========================================================================================
        newsletter aside
=========================================================================================== */


.newsletter-aside{
    background-color: var(--light-blue);
    max-width: 500px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    margin-top: 10em;
    border-radius: 0.5em;
    position: relative;
    text-align: center;
}

.aside-cat {
    height: 250px;
    width: 250px;
    /* margin: 0 auto; */
    position: absolute;
    top: -8em;
}

.email-newsletter {
  background-color: white;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--red);
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 5em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.newsletter-title h3{
  color: black;
  font-size: 2rem;
  font-weight: 700;
  margin: 1em 1em;
  /* line-height: 1.75rem; */

}

.newsletter-details p {
  color: black;
  margin: 0 2em;
  line-height: 1.75rem;
  font-size: 1.2rem;
}

.newsletter-details span {
  color: var(--blue);
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
  /* margin-bottom: 2em; */
}

.email-form {
  margin: 3em 0;
  display: flex;
  height: 4em;

}
.meow {
  background-color: var(--blue);
  /* width: 400px; */
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 2em;
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.email-form input {
  border-radius: 0.5em 0 0 0.5em;
  border: none;
  padding-left: 1em;
  font-size: 1rem;
  font-style: italic;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.aside-footer {
  font-size: 0.9rem;
  font-style: italic;
  /* counter-reset: var(--light-grey); */
}

.aside-footer span{
  cursor: pointer;
  text-decoration: underline;
}

/* ========================================================================================
        cards
=========================================================================================== */

.content-bottom {
/* background-color: yellow; */
display: flex;
justify-content: center;
gap: 2em;
padding: 1em 11em;
margin-top: 2em;
}

.card {
  /* background-color: violet; */
  /* color: red; */
  /* width: 200px; */
  padding: 2.5em;
  border-radius: 0.75em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: rgba(0, 0, 0, 0.35) 2px 20px 15px;

}

.card1 span {
  background-color: var(--light-grey);
}

.card1 h4{
  color: var(--card-green);
}

.card1 {
  background-color: var(--card-green-light);
}

.card1 .card-btn {
  background-color: var(--card-green);
}


.card2 h4{
  color: var(--card-orange);
}

.card2 {
  background-color: var(--card-orange-light);
}

.card2 .card-btn {
  background-color: var(--card-orange);
}

.card3 h4{
  color: var(--card-purple);
}

.card3 {
  background-color: var(--card-purple-light);
}

.card3 .card-btn {
  background-color: var(--card-purple);
}






.card h4 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-decoration: underline;
  margin-bottom: 1em;
  cursor: pointer;
}








.card p {
  font-size: 1.4rem;
  line-height: 2.25rem;
  margin-bottom: 1em;


}

.card-btn {
/* background-color: var(--blue); */
text-align: center;
padding: 1em 1em;
border-radius: 0.5em;
font-size: 1.75rem;
font-weight: 700;
color: white;
cursor: pointer;
}

.see-all {
  /* background-color: yellow; */
  width: 200px;
  margin: 4em auto;
  cursor: pointer;
  border-bottom: 8px solid var(--red);
  text-align: center;
  padding: 0.5em;
  font-family: serif;
  font-size: 1.2rem;
}

.see-all p:hover {
color: var(--red);}


/* ========================================================================================
footer
=========================================================================================== */

footer {
  background-color: var(--red);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 4em;
  /* color: white; */
}

footer * {
  color: white;
}

.footer-top {


}

.footer-top h5 {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 3em;
  text-transform: uppercase;
  font-family: serif;

}


.footer-top-links {


}

.footer-top-links ul {
  /* background-color: yellow; */
  display: flex;
  gap: 2em;
  justify-content: center;
  margin: 2em;
  list-style-image: url('/images/bullet.svg');
  /* padding: 0 3em; */
  font-size: 1.5rem;
}

.footer-top-links li {
    /* background-color: yellow; */

}


.footer-bottom {
  display: flex;
  justify-content: space-around;

}

.footer-bottom-left img {
  width: 200px;
}

.footer-bottom-center div{
margin: 2em 0;
}

.footer-bottom-center p {
  margin-bottom: 1em;
}


.footer-list {
  display: flex;
  gap: 2em;
  text-decoration: underline;
  cursor: pointer;
  justify-content: center;
  /* text-align: center; */
  /* flex-direction: column; */
}

.italic {
  font-style: italic;
}